/* h1 {
    color: #3FBF7F;
} */

h1 {
    color: rgba(24, 156, 90, 0.616);
    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */
    border: 1px dashed rgb(200, 100, 50)
}
/* 
borders is css have three different parts
width
colour
style */

li {
    color: green;
}

h4 {
    background: rgb(255, 100, 80);
    color: rgb(0, 0, 0);
}

body {
    background: pink;
    /* background: url(https://i.pinimg.com/originals/b6/07/95/b60795007716db1797bf6245dda97361.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

