/* h1 {
    color: #3FBF7F;
} */

h1 {
    color: rgba(0, 200, 100, 0.5);
}

li {
    color: green;
}

h4 {
    background: rgb(255, 100, 80);
    color: rgb(0, 0, 0);
}

body {
    background: pink;
}